@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Kavoon&family=Nanum+Myeongjo:wght@700&family=Righteous&family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#col1 {
  background-image: linear-gradient(to left top, #691264, #fd5c92);
  min-height: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#col1 h1 {
  font-size: 3vh;
  color: white;
}
#col1 h1 a {
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
  text-shadow: #ffffff 0.1vh 0.1vh;
  border: 4px solid #3f003b;
  border-radius: 20px;
  padding: 10px;
}
#col1 h1 a :hover {
  color: white;
}
#col1 p {
  font-family: "Nanum Myeongjo", serif;
  color: rgb(0, 0, 0);
  font-size: 1.7vh;
  text-align: center;
  margin-top: 2rem;
}
#col1 #colinta img {
  max-height: 30vh;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-top: 5vh;
}
#col1 #colintb {
  font-size: 2vh;
  font-family: "Righteous", cursive;
  align-items: center;
}

#col2 {
  background-image: linear-gradient(to top left, #c8cff7, #35598f);
  min-height: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#col2 #colintc img {
  max-height: 30vh;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-top: 5vh;
}
#col2 #colintd {
  font-size: 2vh;
  font-family: "Righteous", cursive;
}
#col2 h1 {
  font-size: 3vh;
  color: rgb(0, 0, 0);
}
#col2 h1 a {
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
  text-shadow: #ffffff 0.1vh 0.1vh;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 10px;
}
#col2 h1 a :hover {
  color: white;
}
#col2 p {
  font-family: "Nanum Myeongjo", serif;
  color: rgb(7, 0, 0);
  font-size: 1.7vh;
  text-align: center;
  margin-top: 2rem;
}

#col3 {
  background-image: linear-gradient(to right bottom, #58f39e, #dddddd);
  min-height: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#col3 h1 {
  font-size: 3vh;
  color: white;
}
#col3 h1 a {
  color: rgb(37, 9, 9);
  list-style: none;
  text-decoration: none;
  text-shadow: #ffffff 0.1vh 0.1vh;
  border: 4px solid #3f003b;
  border-radius: 20px;
  padding: 10px;
}
#col3 h1 a :hover {
  color: white;
}
#col3 p {
  font-family: "Nanum Myeongjo", serif;
  color: rgb(17, 1, 1);
  font-size: 1.7vh;
  text-align: center;
  margin-top: 2rem;
}
#col3 #colinte img {
  max-height: 30vh;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-top: 5vh;
}
#col3 #colintf {
  font-size: 2vh;
  font-family: "Righteous", cursive;
}

#finaldepag {
  margin-top: 5vh;
}
#finaldepag h2 {
  font-family: "Nanum Myeongjo", serif;
}
#finaldepag #colbutton {
  float: none;
  margin: 0 auto;
}
#finaldepag .btn {
  font-size: 2vh;
  font-weight: 800;
  color: #ffffff;
  background-color: #3f003b;
  border: 10px solid #3f003b;
  border-radius: 50px;
}

#contitulo {
  background-color: #4e3d4d;
  border-bottom: 5px solid #58f39e;
  margin-bottom: 5vh;
}
#contitulo h1.display-3 {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: "Nanum Myeongjo", serif;
}
#contitulo p {
  color: gold;
  margin-top: 1vh;
}

#form {
  margin-top: 12vh;
  margin-bottom: 12vh;
  padding: 20px;
  border: 4px double #c0c9c4;
}
#form .btn {
  color: rgb(255, 255, 255);
  font-weight: 590;
}

#footcontacto {
  margin-bottom: 2vh;
}
#footcontacto a {
  margin: 2vh;
}
#footcontacto .container-fluid {
  margin-top: 1vh;
}

#galeriadememes img {
  width: 100%;
  box-shadow: 0.2em 0.2em 0.3em #131f1f;
  margin-top: 2vh;
}
#galeriadememes img:hover {
  border-top: 3px solid rgb(56, 236, 182);
  border-left: 3px solid rgb(56, 236, 182);
  box-shadow: 0.5em 0.5em 0.5em #3e4b4b;
}
#galeriadememes img col-lg-4 {
  margin: 0;
  padding: 10vh;
  margin-top: 2vh;
}

#galeriadememes h1 {
  font-size: 2em;
  font-weight: 500;
  text-decoration: underline 1px;
  margin-top: 1vh;
}

#galeriadememes p {
  font-size: 1em;
  color: #6ea384;
  margin-top: -10px;
}

#tarjetas {
  background-color: #8bddb0;
  padding-bottom: 2vh;
  margin-bottom: -4vh;
}
#tarjetas h1 {
  font-size: 2em;
  padding: 2vh;
  text-decoration: underline 2px;
}
#tarjetas .card {
  margin: 2vh;
  box-shadow: 0.2em 0.2em 0.5em rgb(168, 168, 168);
}
#tarjetas .card:hover {
  box-shadow: 0.3em 0.3em 0.6em rgb(168, 168, 168);
}

#jumbazo {
  margin: 5vh;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
}
#jumbazo h1 {
  text-decoration: underline 1px;
}

#ilusection {
  background-color: #badbcd;
  padding: 10vh;
}

#carrusilus {
  margin: 0 auto;
  max-width: 100vh;
  box-shadow: 0.2em 0.2em 1em black;
}
#carrusilus img {
  max-width: 70vh;
  margin: 0 auto;
}
#carrusilus #carrusprev {
  color: black;
  background-color: black;
  max-width: 3vh;
}
#carrusilus #carrusnext {
  color: black;
  background-color: black;
  max-width: 3vh;
}

#titilus {
  font-weight: 500;
  font-family: "Nanum Myeongjo", serif;
}

.titop {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.tibot {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#montaje {
  padding-top: 10vh;
}
#montaje img {
  margin: 0 auto;
}

.montsection {
  background-color: #3f003b;
  margin-top: -4vh;
  margin-bottom: -5vh;
}
.montsection hr {
  color: wheat;
}

#titmont {
  font-weight: 500;
  font-family: "Nanum Myeongjo", serif;
  color: wheat;
}

header {
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  background: #71A6D2;
  justify-content: space-between;
  background: linear-gradient(to bottom, #71A6D2, #4a8ec6);
  color: #fff1f1;
  border-top: #58f39e solid 0.2rem;
}
header img {
  max-height: 60px;
  padding: 0;
  margin: 0 3rem;
}
header div {
  font-size: large;
  justify-content: space-around;
}
header .nav-link {
  margin: 0 5rem;
  font-weight: 700;
}
header .nav-link:hover {
  background-color: #3f003b;
  color: white;
}
header .navbar-brand {
  font-size: 2rem;
}
header #montilus {
  margin: 0 5rem;
  font-weight: 700;
}
header #montilus:hover {
  background-color: #3f003b;
  color: white;
}

footer {
  font-size: 2vh;
  background-color: black;
  margin-top: 5vh;
  min-height: 7vh;
  padding-top: 3vh;
  color: antiquewhite;
  border-bottom: 5px solid rgb(197, 180, 83);
}
footer .container-fluid {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 100;
}

/*# sourceMappingURL=styles.css.map */
